.homeBtn {
    margin-top: 20px;
}
.homeBtn a.btnOne {
	background: #288feb;
}
.homeArea {
    background: url("../img/bg.png") repeat;
}
@media only screen and (max-width: 6000px) and (min-width: 992px){
	header nav#navbar > ul {
	     border-right: none; 
	}
}
.bg-blue {
	background: #288feb;
}
.bg-light {
	background: #f0f5fa;
}
.img-cut {
	margin-bottom: -120px;
}
.signUpArea .signUpForm input.signUpEmail {
	border: 1px solid #e4e4e4;
    border-radius: 4px;
    color: #9cb0c2;
    float: left;
    line-height: 50px;
    padding-left: 25px;
    transition: all 0.4s ease 0s;
    width: 79%;
}
.signUpArea .signUpForm input.signUpSubmit {
    border: medium none;
    border-radius: 4px;
    float: right;
    font-family: "proxima_nova_rgbold";
    font-size: 15px;
    line-height: 52px;
    text-transform: uppercase;
    width: 20%;
    background: #233141;
    color: #fff;
}
.footerLogo img {
	height: 37px;
}
.footerTxt {
    margin-bottom: 0;
}
#nav .Btn {
    min-width: 140px;
    background: #ed8100;
}
.homeContent span.h2 {
    font-size: 30px;
}
.stepContent {
    height: auto;
}
.heroBtn img {
    height: 70px;
}
.homeArea {
    background: url('../img/my_bg.jpg') #ffffff;
    border-bottom: 1px solid #eaeaea;
    background-size: 200px auto;
    background-position: 25px 25px;
}
.iconBg {
    /*background: url('../img/my_bg2.jpg') #ffffff;*/
}
.homeContent span.h2 {
    color: #233141;
}
.homeContent p {
    color: #738191;
}
.ctaTxt p {
    margin-bottom: 30px;
}
.singleService {
    margin-top: 0;
}
header .headerBottomArea {
    padding: 0;
}
#navbar li {
    padding: 20px 10px;
}
header .logo {
    margin-top: 20px;
}
#navbar .current-menu-item {
    background: #ed8100;
}
header nav#navbar ul > li.current-menu-item > a{
    color: #fff;
}



.circle {
    border: 1px solid;
    border-radius: 50%;
    float: left;
    height: 12px;
    margin-right: 5px;
    width: 12px;
    margin-bottom: 10px;
}
.circle-red {
    background: #f5716b;
    border-color: #cd4739;
}
.circle-yellow {
    background: #fae501;
    border-color: #d1c003;
}
.circle-green {
    background: #16d595;
    border-color: #05a972;
}
.browser-head {
    background: #dbe3e7;
    border-left: 1px solid #c5d2d8;
    border-radius: 3px 3px 0 0;
    border-right: 1px solid #c5d2d8;
    border-top: 1px solid #c5d2d8;
    padding: 12px 12px 24px;
}
.browser-body {
    color: #b4c3ca;
    border-bottom: 1px solid #eceef0;
    margin-bottom: -1px;
}
.browser-body {
    background: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.06);
    border-right: 1px solid rgba(0, 0, 0, 0.06);
    font-family: "Courier New",sans-serif;
    padding: 0;
    height: auto;
}
.img-cut {
    height: auto;
    margin-bottom: -120px;
    margin-top: -16px;
    width: 100%;
}
<<<<<<< HEAD
.bs-docs-sidebar {
    padding-left: 0;
}
.card {
    border: 1px solid #f0f0f0;
    border-radius: 0 0 5px 5px;
    padding: 3px;
}
.vid-title {
    text-align: center;
    margin: 0;
    padding: 5px 0;
=======
header .topInfo {
    text-align: right;
}
header .topInfo li a {
    margin: 0;
    margin-right: 30px;
}
.headerTopArea .footerLinkIcon li a {
    /*background: #288feb;*/
    border: 1px solid #288feb;
    color: #288feb;
}
header nav#navbar {
    margin-right: 0;
}
.headerTopArea iframe {
    margin-top: 10px;
>>>>>>> 38a3ff084f5e0f7dddac712235200df34dac0a32
}