.homeBtn {
    margin-top: 20px;
}
.homeBtn a.btnOne {
	background: #288feb;
}
.homeArea {
    background: url("../img/bg.png") repeat;
}
@media only screen and (max-width: 6000px) and (min-width: 992px){
	header nav#navbar > ul {
      border-right: none; 
  }
}
.bg-blue {
	background: #288feb;
}
.bg-light {
	background: #f0f5fa;
}
.img-cut {
	margin-bottom: -120px;
}
.signUpArea .signUpForm input.signUpEmail {
	border: 1px solid #e4e4e4;
    border-radius: 4px;
    color: #9cb0c2;
    float: left;
    line-height: 50px;
    padding-left: 25px;
    transition: all 0.4s ease 0s;
    width: 79%;
}
.signUpArea .signUpForm input.signUpSubmit {
    border: medium none;
    border-radius: 4px;
    float: right;
    font-family: "proxima_nova_rgbold";
    font-size: 15px;
    line-height: 52px;
    text-transform: uppercase;
    width: 20%;
    background: #233141;
    color: #fff;
}
.footerLogo img {
	height: 37px;
    margin-top: -15px;
}
.footerTxt {
    margin-bottom: 0;
}
#nav .Btn {
    min-width: 140px;
    background: #ed8100;
}
.homeContent span.h2 {
    font-size: 30px;
}
.stepContent {
    height: auto;
}
.heroBtn img {
    height: 70px;
}
.homeArea {
    background: url('../img/my_bg.jpg') #ffffff;
    border-bottom: 1px solid #eaeaea;
    background-size: 200px auto;
    background-position: 25px 25px;
}
.iconBg {
    /*background: url('../img/my_bg2.jpg') #ffffff;*/
}
.homeContent span.h2 {
    color: #233141;
}
.homeContent p {
    color: #738191;
}
.singleService {
    margin-top: 0;
}
header .headerBottomArea {
    padding: 20px;
}
#navbar li {
    padding: 20px 10px;
}
header .logo {
    margin-top: 20px;
}
#navbar .current-menu-item {
    background: #ed8100;
}
header nav#navbar ul > li.current-menu-item > a{
    color: #fff;
}



.circle {
    border: 1px solid;
    border-radius: 50%;
    float: left;
    height: 12px;
    margin-right: 5px;
    width: 12px;
    margin-bottom: 10px;
}
.circle-red {
    background: #f5716b;
    border-color: #cd4739;
}
.circle-yellow {
    background: #fae501;
    border-color: #d1c003;
}
.circle-green {
    background: #16d595;
    border-color: #05a972;
}
.browser-head {
    background: #dbe3e7;
    border-left: 1px solid #c5d2d8;
    border-radius: 3px 3px 0 0;
    border-right: 1px solid #c5d2d8;
    border-top: 1px solid #c5d2d8;
    padding: 12px 12px 24px;
}
.browser-body {
    color: #b4c3ca;
    border-bottom: 1px solid #eceef0;
    margin-bottom: -1px;
}
.browser-body {
    background: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.06);
    border-right: 1px solid rgba(0, 0, 0, 0.06);
    font-family: "Courier New",sans-serif;
    padding: 0;
    height: auto;
}
.img-cut {
    height: auto;
    margin-bottom: -120px;
    margin-top: -16px;
    width: 100%;
}
.bs-docs-sidebar {
    padding-left: 0;
}
.card {
    border: 1px solid #f0f0f0;
    border-radius: 0 0 5px 5px;
    padding: 3px;
}
.vid-title {
    text-align: center;
    margin: 0;
    padding: 5px 0;
}
.getStarted {
    margin-top: 30px;
}
.getStarted input[type="email"], .getStarted input[type="password"] {
    border: medium none;
    background: transparent;
    padding: 5px;
    border-bottom: 1px solid #efefef;
    color: #3e3e3e;
    width: 100%;
}
.gsButton {
    margin-top: 20px;
}
.gsButton .Btn {
    background: #288FEB;
}
#navbar li {
    border-radius: 5px;
    padding: 10px;
}
header .logo {
    margin-top: 10px;
}
.homeOverlay {
    background: rgba(255,255,255, 0.5);
}

/**************** Deploy Page ******************/

.singleDeploy {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    margin-top: 0;
    padding: 15px;
}
.singleDeploy {
    line-height: 28px;
    text-align: center;
}
.deployIcon > img {
    max-height: 100%;
}
.singleDeploy .deployIcon {
    height: 85px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.deployContent .h3 {
    font-size: 22px;
    margin-bottom: 25px;
}
.deployContent p {
    margin: 0;
}
.deployContent input {
    width: 90%;
    border: none;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 13px;
}

.mr-l-10  { margin-left: 10px; }
.mr-l-20  { margin-left: 20px; }
.mr-l-30  { margin-left: 30px; }
.mr-l-40  { margin-left: 40px; }
.mr-l-50  { margin-left: 50px; }
.mr-l-60  { margin-left: 60px; }
.mr-l-70  { margin-left: 70px; }
.mr-l-80  { margin-left: 80px; }
.mr-l-90  { margin-left: 90px; }
.mr-l-100 { margin-left: 100px; }

.txt-orange { color: #ed8100 !important; }

.deploy .sectionTitle p {
    font-size: 18px;
    line-height: 30px;
}
.deploy .sectionTitle {
    margin-bottom: 40px;
}
.singleDeploy .Btn {
    line-height: 37px;
    min-width: 140px;
}
footer {
    background: #E9F5FF;
}


.signForm .signSubmit + div {
    background: transparent none repeat scroll 0 0;
    line-height: 24px;
    margin-left: 20px;
    margin-right: 0;
    padding: 13px 0;
    width: auto;
}
.signForm .signSubmit + div.success {
    color: green;
}
.signForm .signSubmit + div.error {
    color: red;
}
.signForm .signSubmit + div.success:before {
  content: "";
  font-family: fontawesome;
  margin-right: 5px;
}
.signForm .signSubmit + div.error:before {
  content: "\f06a ";
  font-family: fontawesome;
  margin-right: 5px;
}



.signForm > div {
    background: #f6fbff none repeat scroll 0 0;
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    width: 97%;
}

.signForm {
    overflow: hidden;
}

.signForm > div > * {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #dbe5f0;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    width: 100%;
    -webkit-transition: .4s;
    transition: .4s;
}

.signSelect select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: #97a9be;
}

.signForm .signSelect {
    position: relative;
    z-index: 1;
}

.signForm .signSelect::before {
    color: #a5b8ce;
    content: "";
    font-family: "icofont";
    height: 100%;
    line-height: 50px;
    position: absolute;
    right: 15px;
    top: 0;
    z-index: -1
}

.signForm .signMsg {
    height: 150px;
    width: 97%;
}

.signForm .signMsg textarea {
    height: 100%;
    line-height: 24px;
    padding-top: 15px;
    padding-right: 15px
}

.signForm .signSubmit {
    margin: 0;

    border-radius: 3px;
    margin-top: 10px;
}

.signForm .signSubmit input{
    border-radius: 3px;
}

.signForm .signSubmit input {
    border: medium none;
    color: #fff;
    padding: 0;
    background: #288FEB;
}

.signForm *::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #97a9be;
    opacity: 1
}

.signForm *::-moz-placeholder {
    /* Firefox 19+ */
    color: #97a9be;
    opacity: 1
}

.signForm *:-ms-input-placeholder {
    /* IE 10+ */
    color: #97a9be;
    opacity: 1
}

.signForm *:-moz-placeholder {
    /* Firefox 18- */
    color: #97a9be;
    opacity: 1
}

.signInfoCell {
    border-left: 1px solid #f2f2f2;
    margin-left: 10px;
    padding-left: 50px;
    margin-top: 36px
}

.signInfoCell .h4 {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'proxima_nova_rgbold'
}
.signMsg {
    display: block;
    text-align: center;
}
.featuresArea .sectionTitle {
    margin-bottom: 0;
}
.featuresArea .singleService {
    text-align: left;
    margin-top: 60px;
}
.featuresArea .singleService .serviceIcon {
    height: 50px;
    float: left;
    margin-right: 20px;
    margin-bottom: -1px;
}
.featuresArea .serviceContent .h3 {
    margin-top: 20px;
}
.subTitle {
    font-size: 18px;
    line-height: 30px;
}
.singlePost .postContent {
    border: 1px solid #dfebf5;
    border-radius:0 0 4px 4px;
    padding: 20px 15px;
}
.singlePost .postImg img {
    border-radius: 4px 4px 0 0;
}
header nav#navbar {
    margin-right: 0;
}
.v2 header .headerTopArea, .v2 header .langTxt, .v2 header .topInfo li a {
    background: #233141;
}
.v2 header .topInfo li.clientAreaLi span, .v2 header .langIcon, .boardMenu li.active a {
    background: #233141;
}
header .headerBottomArea, .v2 .homeArea {
    background: #f0f5fa;
}
@media only screen and (min-width: 480px){
    a.Btn:nth-child(2) {
        margin-left: 15px;
    }
}
@media only screen and (max-width: 479px){
    a.Btn:nth-child(2) {
        margin-top: 15px;
    }
}
.btnOne.Btn {
    background: #ed8100;
}
.stepArea {
    background: #fafcff;
}
.memberName.h4 {
    margin-bottom: 18px;
}
/*.clientArea, .v2 .clientArea {
    background: #f0f5fa;
}*/
.featuresArea {
    background: #fcfeff;
}
.v2 header .topInfo li.herokuBtn a{
    background: #233141;
}
header .topInfo li.herokuBtn a {
    color: #fff;
    display: inline-block;
    font-size: 13px;
    line-height: 51px;
    margin-left: 30px;
    padding: 0 30px;
}
header .langIcon a{
    line-height: 50px;
    color: #fff;
    margin: 0;
}
header .langIcon {
    margin: 0;
}
header {
    font-family: "proxima_novasemibold";
    font-size: 13px;
}
.teamImg {
    border-radius: unset;
    height: 80px;
    width: 80px;
}
.teamContent {
    padding-left: 110px;
}
.singleClient img {
    max-height: 80px !important;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.singleClient img:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
.countup p{
    font-size: 40px;
    font-weight: 100;
    font-family: "proxima_nova_rgregular";
    margin-bottom: 20px;
    /*color: #288FEB;*/
}
.countTitle {
    font-size: 20px;
}
#sk-holder #sk-container #sk-wrapper {
    height: 500px !important;
    width: 360px !important;
}
.sk-header-wrapper {
    background: #365272 !important;
}
.sk-msg {
    background: #f0f5fa !important;
}
#sk-holder #sk-container #sk-conversation .sk-row.sk-right-row .sk-msg, #sk-holder #sk-container #sk-conversation .sk-row.sk-right-row .sk-msg-image {
    color: #738191 !important;
}
header .langIcon {
    padding: 0;
}
.langIcon img {
    height: 50px;
    padding: 12px 0 15px;
}
.v2 header .topInfo li.clientAreaLi span, .v2 header .langIcon, .boardMenu li.active a {
    background: transparent;
}
.v2 .langTxt {
    display: inline-block;
}
@media only screen and (max-width: 991px) and (min-width: 768px){
    .stepContent {
        padding-left: 10px;
        margin-bottom: 30px;
        margin-top: 10px;
    }
}
@media only screen and (min-width: 768px){
    .featuresArea .subTitle {
        padding: 0 10%
    }
}
@media only screen and (max-width: 767px) and (min-width: 0px){
    .menuCol {
        top: 0;
    }
}
@media only screen and (max-width: 991px) and (min-width: 0px){
    .navbar-header {
        right: 15px;
    }
    #navbar li {
        padding: 0;
    }
}
.homeOverlay {
    background: #015a82;
}
.v2 .homeContent span.h2 {
    color: #fff;
}
.v2 header .headerBottomArea{
    background: #015A82;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
}
.v2 header .headerTopArea {
    border: none;
}
.v2 .homeContent p {
    color: #fff;
}
.v2 header nav#navbar ul > li > a {
    color: #efefef;
}
header nav#navbar ul > li.current-menu-item > a, header nav#navbar ul > li > a:hover {
    color: #fff;
}
.v2 .homeImg img {
    max-height: 500px;
}
.v2 .homeImg {
    text-align: right;
}
.tutsArea .homeContent span.h2 {
    font-size: 68px;
    line-height: 70px;
}
.singlePost {
    min-height: 300px;
}
.singlePost .postTitle.h4 {
    font-family: 'proxima_novalight';
    font-size: 16px;
    text-align: center;
    margin-bottom: 0;
}
.singlePost .postContent {
    padding: 15px;
}